.students {
    @include disp-flex-students;
    .student {
        flex-basis: 47%;
        display: inline-block;
        color: $blue-boolean;
        header {
            @include disp-flex;
            img {
                max-width: 200px;
            }
        }
    }
}